#root {
  /* max-width: 1366px; */
  margin:  auto;
}


#fade-in {
  opacity: 1;
  animation: fadeIn 5s ease-out;
  backdrop-filter: blur(5px);
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}